<div class="root" [ngClass]="useTheme.ifLight('text-neutral__700', 'text-neutral__0')">
  <div class="root__label">
    <span class="txt__7">{{ field().label }}</span>
  </div>

  <div class="root__field">
    <input
      class="field__input"
      [type]="field().type"
      [formControl]="ctrl()"
      [placeholder]="field().label + '...'"
      [autocomplete]="'off'"
      [ngClass]="useTheme.ifLight('bg-neutral__0', 'bg-neutral__900')"
    />

    <div class="field__err">
      <span>{{ errMsg() }}</span>
    </div>
  </div>
</div>
